@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

@model GradeCalcModel; 

<h2>Enter percentages to calculate your grade: </h2>

<form method="post">
    <label>Assignments (55%): </label>
    <input id="numAssign" asp-for="Assign" /><br />

    <label>Group Project (5%): </label>
    <input id="numGroup" asp-for="Group" /><br />

    <label>Quizzes (10%): </label>
    <input id="numQuiz" asp-for="Quiz" /><br />

    <label>Exam (20%): </label>
    <input id="numExam" asp-for="Exam" /><br />

    <label>INTEX (10%): </label>
    <input id="numIntex" asp-for="Intext" /><br />

    <input id="btnSend" type="submit" value="Submit" />

    <div asp-validation-summary="All"></div>
</form>

<script src="js/gradeCalc.js"></script>