@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Maz's Space"; 
}

<h1>Matthew Mazankowski</h1>
<br />

<img src="img/maz.jpg" />
<br />

<p>I hope to become more advanced at programming and be able to quickly spin up web pages in ASP.NET</p>
<br />

<p>Top 3 jobs to pursue after graduation: </p>
<ol>
    <li>Founder</li>
    <li>CEO</li>
    <li>Data Science Engineer</li>
</ol>

<br />



