@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Maz's Space</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
</head>
<body>
    <h1>Matthew Mazankowski</h1>
    <br />

    <img src="img/maz.jpg" />
    <br />

    <p>I hope to become more advanced at programming and be able to quickly spin up web pages in ASP.NET</p>
    <br />

    <p>Top 3 jobs to pursue after graduation: </p>
    <ol>
        <li>Founder</li>
        <li>CEO</li>
        <li>Data Science Engineer</li>
    </ol>

    <br />

    <h2>Grade Calculator: </h2>

    <form>
        <label>Assignments (55%): </label>
        <input id="numAssign" /><br />

        <label>Group Project (5%): </label>
        <input id="numGroup" /><br />

        <label>Quizzes (10%): </label>
        <input id="numQuiz" /><br />

        <label>Exam (20%): </label>
        <input id="numExam" /><br />

        <label>INTEX (10%): </label>
        <input id="numIntex" /><br />

        <input id="btnSend" type="button" value="Submit" />
    </form>

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="js/gradeCalc.js"></script>
</body>
</html>
