body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

label {
    font-size: 15px;
    width: 1500px;
    display: inline-block
}

textarea {
    font-size: 15px; 
}

/*form {
    font-size: 15px;
    display: inline-block;
}*/